@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-inter);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}